body{
    height:100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/background.jpeg');
    background-size: cover;
    /* position: relative; */
    /* background-color: black; */
}
